{% extends 'base.html' %}

{% block main %}
    {% if user.is_authenticated %}

    <div class="card text-center">
                <span class="d-block p-2 bg-primary text-white">GO System Academia </span>
            </div>
            <div class="card text-center text-white bg-secondary mb-5" >
                <h2>Listagem de Alunos</h2>
            </div>
         <div class="container">
            <div class="row">
                <div class="col-xs-12 ">
                <form class="fom-inline">
                     <div class="input-group mb-4">
                         <input type="text" class="form-control" id="pesquisa" name="pesquisa"  placeholder="Buscar Aluno">
                         <span class="input-group-btn">
                    <button class="btn btn-default" type="submit"><span class="glyphicon glyphicon-search"></span></button></span>

                     </div>

                </form>
                </div>
            </div>
         </div>
<!-- object_list para injetar a lista de alunos do BD -->
    {% for aluno in aluno|dictsort:"nome" %}


           <div class="container">
              <div class="card">
              <div class="card-body">
              <div class="row">

                <div class="col">
                 {{ aluno.nome }}
                </div>
                <div class="col">
                  {{ aluno.cpf}}
                </div>
                <div class="col-4">
                 {{ aluno.endereco}}
                </div>
                <div class="col">
                    <a href="{% url 'update_aluno' aluno.id %}"><i class="glyphicon glyphicon-edit"></i></a>
                </div>
                <div class="col">
                    <a href="{% url 'delete_aluno' aluno.id %}"><i class="glyphicon glyphicon-trash"></i></a>
                </div>
              </div>
            </div>
           </div>
          </div>
        <br>

    {% endfor %}





        <div class="col-sm text-center">
        <div class="pagination">
        <span class="step-links">
            {% if aluno.has_previous %}
                <a href="?page={{ contacts.previous_page_number }}">anterior</a>
            {% endif %}

            <span class="current">
                Página {{ aluno.number }} a {{ aluno.paginator.num_pages }}.
            </span>

            {% if aluno.has_next %}
                <a href="?page={{ aluno.next_page_number }}">próxima</a>
            {% endif %}
        </span>
        </div>
        </div>

        <div class="container">
          <div class="row">
            <div class="col-sm">
              <a class="badge badge-secondary"href="{% url 'home' %}"><i class="glyphicon glyphicon-log-out"></i>  Voltar</a>
            </div>
            <div class="col-sm">


            </div>
            <div class="col-sm text-right">
                 <a  href="{% url 'create_aluno' %}" class="btn btn-lg btn-info">Adicionar</a>
            </div>
          </div>



    {% else %}
              <p>É necessário LOGAR!</p>
    {% endif %}

{% endblock %}




