{% extends 'base.html' %}
{% load bootstrap %}
{% block main %}

<div class="container">

	<div class="d-flex flex-column">
		  <p class="m-auto p-2">
		    Enviamos instruções por e-mail para definir sua nova senha, se houver uma conta com o e-mail digitado.
			Você deve recebê-lo em breve.
		  </p>
		  <p class="m-auto p-2">
		    Se você não receber um e-mail, verifique se inseriu o endereço com o qual se registrou, e verifique sua pasta de spam.
		  </p>
		  <p class="m-auto p-2"><a href="{% url 'home' %}">Retornar a home</a></p>
	</div>
</div>

{% endblock %}