{% extends 'base.html' %}
{% load bootstrap %}
{% block main %}


<form method="POST" class="form-signin">{% csrf_token %}
    <div class="card text-center" >
      <span class="d-block p-2 bg-primary text-white"><h3>Alterar senha</h3></span>
    </div>
    <input name="old_password" class="form-control" placeholder="Senha antiga" type="password" id="id_old_password" required="true">
    <input name="new_password1" class="form-control" placeholder="Nova senha" type="password" id="id_new_password1" required="true">
    <input name="new_password2" class="form-control" placeholder="Confirmar nova senha" type="password" id="id_new_password2" required="true">

    {% for field in form %}
      {% for error in field.errors %}
        <p style="color: red">{{ error }}</p>
      {% endfor %}
    {% endfor %}

  <button class="btn btn-info btn-lg btn-block " type="submit">Confirmar</button>
</form>


{% endblock %}